---
pagination:
    data: blogposts.main
    size: 1
    alias: post
eleventyComputed:
    title: "{{ post.title | safe }}"
    date: "{{ post.date }}"
    lead: "{{ post.lead }}"
    highlight: "{{ post.highlight }}"
permalink: "blog/{{ post.slug }}/"
---

{{ post.body | safe }}