---
layout: layouts/main
---
{{ content | safe }}

<hr>

{% set previousPost = pagination.page.previous %}
{% set nextPost = pagination.page.next %}
<div class="align-right mb-1">
    {% if previousPost %}Next: <a href="{{ pagination.href.previous }}">{{ previousPost.title }}</a>{% endif %}
</div>
<div class="align-right">
    {% if nextPost %}Previous: <a href="{{ pagination.href.next }}">{{ nextPost.title }}</a>{% endif %}
</div>