<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ meta.description | safe }}">
  <title>{{ title }}{% if not isHome %} | Quentin Delcourt{% endif %}</title>
  {% include 'partials/head/opengraph.njk' %}
  {% include 'partials/head/favicons.njk' %}
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/pe03MImSLYBIv1o4X1M8cc8GBs5tU1E.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/pe0oMImSLYBIv1o4X1M8cce4E9lKdg.woff2">
  <link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2">
  <link rel="stylesheet" href="/css/styles.css?v={{date | date('YMMDD')}}" async>
  {% if highlight %}
  <link rel="stylesheet" href="/assets/css/prism.css">
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="Blog" href="/feeds/blog.xml">
  <link rel="alternate" type="application/rss+xml" title="Links" href="/feeds/links.xml">
</head>
<body>
  {% include 'partials/header.njk' %}
  <main class="section section--main">
    <div class="section__content section__content--space-y">
      {% if not titleHidden %}
        <h2>{{ title | safe }}</h2>
        {% if dateVisible %}
          <date class="post-date" datetime="{{ date | dateIso }}">
            {{ date | date('MMMM Do Y') }}
          </date>
        {% endif %}
      {% endif %}
      {% if lead %}
        <div class="lead">
          {{ lead | safe }}
        </div>
      {% endif %}
      {{ content | safe }}
    </div>
  </main>
  {% include 'partials/footer.njk' %}
  {% if highlight %}
  <script src="/assets/js/prism.js"></script>
  {% endif %}
</body>
</html>
