---
layout: layouts/main
---

<div class="grid grid-side-image">
  <div class="grid-side-image__image">
    <img src="{{ image }}">
  </div>
  <div class="grid-side-image__content">
    {{ content | safe }}
  </div>
</div>