<meta property="og:title" content="{{ title }}{% if not isHome %} | Quentin Delcourt{% endif %}" />
<meta property="og:type" content="{% if meta.og.type %}{{ meta.og.type }}{% else %}website{% endif %}" />
<meta property="og:url" content="https://quentin.delcourt.be{{ page.url }}" />
<meta property="og:description" content="{{ meta.description | safe }}" />
<meta property="og:image" content="https://quentin.delcourt.be/assets/img/avatar.png" />
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />