---json
{
  "permalink": "/feeds/blog.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Quentin Delcourt - Blog posts",
    "subtitle": "Quentin's blog posts",
    "url": "https://quentin.delcourt.be/",
    "feedUrl": "https://quentin.delcourt.be/feeds/blog.xml",
    "author": {
      "name": "Quentin Delcourt",
      "email": "quentin@delcourt.be"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <managingEditor>{{ site.email }} ({{ site.author }})</managingEditor>
  <webMaster>{{ site.email }} ({{ site.author }})</webMaster>
  <pubDate>{{ site.buildTime | dateToRfc3339 }}</pubDate>
  <lastBuildDate>{{ site.buildTime | dateToRfc3339 }}</lastBuildDate>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in blogposts.main %}
  {% set absolutePostUrl %}{{ ('blog/' ~ post.slug) | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.dateObj | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.lead | safe }}</content>
  </entry>
  {%- endfor %}
</feed>