---json
{
  "permalink": "/feeds/links.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Quentin Delcourt - Links",
    "subtitle": "Quentin's links",
    "url": "https://quentin.delcourt.be/",
    "feedUrl": "https://quentin.delcourt.be/feeds/links.xml",
    "author": {
      "name": "Quentin Delcourt",
      "email": "quentin@delcourt.be"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ links.main[0].dateObj | rssDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for link in links.main.slice(0,10) %}
  {% set absolutelinkUrl %}{{ link.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ link.name }}</title>
    <link href="{{ link.url }}"/>
    <updated>{{ link.dateObj | rssDate }}</updated>
    <id>{{ absolutelinkUrl }}</id>
    <content type="html">{{ link.body | safe }}</content>
  </entry>
  {%- endfor %}
</feed>