---
layout: layouts/main
title: Blog
permalink: /blog/
---

<ul class="list">
{% for post in blogposts.main %}
  <li>
    <article class="post-teaser post-teaser--line">
      <div class="text-small"><date datetime="{{ post.date | dateIso }}">
        {{ post.date | date('DD/MM/Y') }}
      </date></div>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </article>
  </li>
{% endfor %}
</ul>