---
title: Quentin Delcourt
layout: layouts/main
permalink: /
titleHidden: true
isHome: true
lead: I'm a web developer from Brussels, Belgium. I've been developing websites and applications since 2004.
meta:
  description: Digital home of Quentin Delcourt, a web developer from Belgium.
---

<div class="grid grid-half">

  <div class="grid-half__odd">
    <div class="pane">
      <h2>Latest post</h2>
      {%- for post in blogposts.main | limit(1) -%}
        <article class="post-teaser">
          <a class="post-link" href="{{ post.url }}">
            {{ post.title }}
          </a>
          <date class="post-teaser__date" datetime="{{ post.date | dateIso }}">
            {{ post.date | date('MMMM Do Y') }}
          </date>
          {{ post.lead | safe | truncate(80) }}
        </article>
      {%- endfor -%}
      <div class="align-right">
        <a href="/blog/">See all posts</a>
      </div>
    </div>
  </div>

  <div class="grid-half__even">
    <div class="pane">
      <h2>Latest link</h2>
      {%- for link in links.main | limit(1) -%}
        <article class="post-teaser">
          <a class="post-link" href="{{ link.url }}">
            {{ link.name }}
          </a>
          <date class="post-teaser__date" datetime="{{ link.date | dateIso }}">
            {{ link.date | date('MMMM Do Y') }}
          </date>
          {{ link.body | safe }}
        </article>
      {%- endfor -%}
      <div class="align-right">
        <a href="/links/">See all links</a>
      </div>
    </div>
  </div>

  <div class="grid-half__even">
    <div class="pane">
      <h2>Procedural generation</h2>
      <p>
        I love procedural generation! 
        I've used it to create some silly programs on <a href="https://kant312.itch.io/">itch.io</a>:
      </p>
      <ul class="list">
        {% for link in links.procgen %}
          <li>
            <a class="media" href="{{ link.url }}">
              <img width="80" height="63" src="{{ link.img }}" alt="">
              <div>
                {{- link.title -}}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="grid-half__odd">
  </div>
</div>
