---
layout: layouts/main
title: Links
permalink: /links/
lead: Interesting stuff I found and that... might interest you?
titleHidden: true
meta:
  description: Latest links from Quentin Delcourt
---

<ul class="list list-unstyled">
{%- for link in links.main | limit(50) -%}
  <li>
    <article class="post-teaser">
      <a class="post-link" href="{{ link.url }}">
        {{ link.name }}
      </a>
      <div class="post-teaser__description">
        <date class="post-teaser__date" datetime="{{ link.date | dateIso }}">
          {{ link.date | date('Y-MM-DD') }}
        </date>
        
        {{ link.body | safe }}
        
        {% if link.via.name or link.via.url %}
          <div class="post-teaser__via">
            /via 
            <a href="{{ link.via.url }}">
              {{ link.via.name }}
            </a>
          </div>
        {% endif %}
      </div>
    </article>
  </li>
{% endfor %}
</ul>