ul li {
  margin-bottom: 2px;
}


.list,
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  margin-bottom: .5rem;
}

.list-unstyled li {
  margin-bottom: 0;
}

.list-inline {
  margin: 0;
  padding: 0;
}

.list-inline li {
  display: block;
  margin-bottom: .5rem;
}

.list-with-separator li a {
  display: inline-block;
}

.list-with-separator li:last-child {
  margin-right: 0;
}

.list-with-separator li:last-child::after {
  content: '';
  margin-left: 0;
}

@media (min-width: 38.1rem) { 
  .list-with-separator li {
    margin-bottom: 0;
    margin-right: .5rem;
  }

  .list-with-separator li::after {
    content: ' • ';
    margin-left: .5rem;
  }

  .list-with-separator li {
    display: inline-block;
  }
}