.post-teaser {
  margin-bottom: 1.5rem;
}

.post-teaser .post-link {
  display: block;
  margin-bottom: .5rem;
}

.post-teaser--line a {
  display: inline-block;
  margin: .25rem 0 0;
  font-weight: bold;
}

.post-teaser__date {
  font-size: .8rem;
  display: block;
  margin-bottom: .5rem;
  font-style: italic;
}

.post-teaser__description {
  margin-left: 1rem;
}

.post-teaser__via {
  margin-top: .5rem; 
  font-size: .8rem;
}

.post-teaser__via a {
  display: inline;
}

.post-teaser--microblog {
  background: #d5e2ef;
  padding: .25rem .5rem;
  margin-bottom: 1rem;
}

.post-teaser--microblog p {
  margin: 0;
}