.footer {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid dashed;
}

.footer .elsewhere {
  text-align: center;
  margin-bottom: 1.5rem;
}