html {
  font: 100%/1.4 'Nunito Sans', sans-serif;
}

body {
  background-color: #657283;
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

.section__content {
  max-width: 42rem;
  padding: 1rem 2rem;
  margin: auto;
}

.section__content--space-y {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.lead {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

p {
  margin: 0 0 1.4rem;
}

pre {
  background-color: #eeeeee;
  padding: .4rem;
  overflow-x: auto;
  margin-bottom: 1.6rem;
  font-size: .9rem;
}

.section--main {
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  color: #1a4bf9;
  transition: color .15s ease-in-out;
}

a:hover {
  color: #fa0a4c;
}

hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin: 2rem 0;
}

.post-date {
  display: block;
  font-style: italic;
  margin-bottom: 1rem;
}

.float-left {
  float: left;
}

kbd {
  background: #cc34fe;
  color: #fff;
  border-radius: 2px;
  padding: 2px 5px;
  margin-right: 1px;
  display: inline-block;
}