.grid {
  display: grid;
  grid-gap: 2rem;
}

.grid-half {
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
  "even"
  "odd";
}

.grid-half__even {
  grid-area: 'even';
}

.grid-half__odd {
  grid-area: 'odd';
}

.grid-side-image {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "image image image"
    "content content content";
}

@media (min-width: 38.1rem) { 
  .grid-half {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "even odd";
  }

  .grid-side-image {
    grid-template-areas:
      "image content content";
  }
}

.grid-side-image__image {
  grid-area: image;
}

.grid-side-image__content {
  grid-area: content;
}