.header { 
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  text-align: center;
}

.header h1 {
  text-shadow: 3px 3px 3px #333, 3px 3px 15px #333;
}

.header h1 a {
  color: #fff;
  text-decoration: none;
}

.header nav a {
  color: #333333;
  font-weight: bold;
  transition: all .15s ease-in-out;
  border: 1px solid transparent;
  text-decoration: none;
}

.header nav a:hover,
.header nav a.active {
  border-bottom: 1px solid;
}
