---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/blog/</loc>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  {% for post in blogposts.main %}
    <url>
      <loc>{{ site.url }}{{ post.url }}</loc>
      <lastmod>{{ post.date | date("YYYY-MM-DD[T]HH:mm:ssZ") }}</lastmod>
      <priority>0.5</priority>
    </url>
  {% endfor %}
  <url>
    <loc>{{ site.url }}/links/</loc>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/about/</loc>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>{{ site.url }}/uses/</loc>
    <priority>0.5</priority>
  </url>
</urlset>