<footer class="footer section">
  <div class="section__content">
    <ul class="elsewhere list-inline list-with-separator">
      {% for link in navigation.footer %}
      <li>
        <a rel="me" href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <p class="align-center text-small">
      © Quentin Delcourt {{ date | date('Y') }}
      -
      <a href="https://11ty.io">Made with Eleventy</a>
    </p>
  </div>
</footer>