<header class="header section">
  <div class="section__content">
    <h1>
      <a href="/">
        Quentin Delcourt
      </a>
    </h1>
    <nav>
      <ul class="list-inline list-with-separator">
        {% for link in navigation.header %}
        <li>
          <a href="{{ link.url }}" class="{{ "active" if (link.url == page.url) }}">
            {{ link.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>